################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Insurance/packages/Microsoft.AspNet.Identity.Core.2.2.2
